.DS_Store
.vscode/
lib64/
__pycache__/
bin/
lib/
share/
*.pyc
*.mp4
*.pt
*.wav
raw_videos.json
.lock
pyvenv.cfg
outputs/
dog_model/
*.h5
*.pb
*.meta
*.index
vidsAndAnnotation
files/dlc-cache/
sentences.json
*.h5
*.pickle
*.png
bark_annotation_outputs/
processed/
*.json
files/cvats/
unique_dog_counts.csv