numpy==1.26.4
pandas==2.3.3
scipy==1.15.3
matplotlib==3.10.7
torch==2.9.1
torchlibrosa==0.1.0
panns-inference==0.1.1
pytest==9.0.2
librosa==0.11.0
torchreid
gdown
tensorboard
torchvision
scikit-learn
tqdm
pillow
scipy
scenedetect==0.6.7